{% extends 'new_app/base.html' %}
{% block content %}
<table class="table table-success table-hover">
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.a_two }}</td>
        <td>{{ object.a_three }}</td>
        <td>{{ object.a_one|title }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post" action="{% url 'new_app:index' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="object.a_one" name="a_one"></td>
            <td><input type="object.a_two" name="a_two"></td>
            <td><input type="object.a_three" name="a_three"></td>
            <td><input type="submit" value="Отправить"></td>
        </tr>
    </table>
</form>
{% endblock %}
