{% extends 'new_app/base.html' %}
{% block content %}
<table class="table table-success table-hover">
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.a_one|title }}</td>
        <td>{{ object.a_two }}</td>
        <td>{{ object.a_three }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<form method="post" action="">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="text" name="a_one"></td>
            <td><input type="text" name="a_two"></td>
            <td><input type="text" name="a_three"></td>
            <td><button class="btn btn-primary" type="submit">Добавить</button></td>
        </tr>
    </table>
</form>
{% endblock %}
